<div class="text-black text-center pt-20 items-center justify-center flex-col h-screen w-full">
    <h1 class="text-4xl font-bold mb-5">Lista de Usuarios</h1>

    <table class="min-w-full bg-white border border-gray-300">
      <thead>
        <tr class="bg-gray-100">
          <th class="py-2 px-4 border-b">ID de Usuario</th>
          <th class="py-2 px-4 border-b">Nombre</th>
          <th class="py-2 px-4 border-b">Username</th>
          <th class="py-2 px-4 border-b">Correo</th>
          <th class="py-2 px-4 border-b">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'user_row', collection: @users %>
      </tbody>
    </table>
  </div>