<div class=" text-black text-center pt-20 items-center justify-center flex flex-col h-lvh w-full mb-20">
        <img class="h-80" src="https://www.nazcar-rentacar.com/wp-content/uploads/2021/11/sparkgti.png" alt="Carro chevrolet spark">
        <h1 class="text-6xl font-bold mb-5">Alquiler de Autos</h1>
        <p class="mt-2 font-semibold text-2xl">Descubre nuestra flota de vehículos para tu próximo viaje</p>
        <p class="mt-2 ml-52 mr-52 text-1xl">Nuestro compromiso con la excelencia en el servicio se refleja en la
            atención personalizada que ofrecemos a cada cliente. Desde el momento de la reserva hasta la devolución del
            vehículo, nos esforzamos por hacer que el proceso sea fácil y sin complicaciones. Ofrecemos opciones de
            alquiler flexibles, tarifas competitivas y programas de fidelización para asegurarnos de satisfacer las
            necesidades individuales de cada cliente.</p>
        <%= link_to 'Buscar modelos', cars_path, class: "mt-7 bg-zinc-800 text-white py-4 px-6 rounded-full font-bold hover:bg-zinc-700"%>
    </div>
